## Download stocks data using yfinance

In [1]:
from finance_tools.stocks.data_downloaders import YFinanceDownloader  as yf_tool

data_downloader = yf_tool()
stock_data = data_downloader._download_multiple_stocks(symbols=["AAPL", "MSFT"], 
                                                      start_date="2024-01-01", 
                                                      end_date="2024-12-31", 
                                                      period="1y", 
                                                      interval="1d",
                                                      include_dividends=True,
                                                      include_splits=True,
                                                      auto_adjust=True)
stock_data

({'data':                                  Open        High         Low       Close  \
  Date
  2024-01-02 00:00:00-05:00  185.789438  187.070068  182.553143  184.290421
  2024-01-02 00:00:00-05:00  369.663798  371.680909  362.653379  366.707367
  2024-01-03 00:00:00-05:00  182.880727  184.528662  182.096461  182.910507
  2024-01-03 00:00:00-05:00  364.868279  369.070578  364.373891  366.440430
  2024-01-04 00:00:00-05:00  180.825785  181.758954  179.565029  180.587540
  ...                               ...         ...         ...         ...
  2024-12-26 00:00:00-05:00  257.568678  259.474086  257.010028  258.396667
  2024-12-27 00:00:00-05:00  432.935523  433.553144  424.717120  428.881104
  2024-12-27 00:00:00-05:00  257.209530  258.077462  252.451019  254.974930
  2024-12-30 00:00:00-05:00  251.623005  252.889953  250.146571  251.593079
  2024-12-30 00:00:00-05:00  424.428211  425.912495  420.284140  423.202911

                               Volume  Dividends  Stock Splits Symbol
  Date
  2024-01-02 00:00:00-05:00  82488700        0.0           0.0   AAPL
  2024-01-02 00:00:00-05:00  25258600        0.0           0.0   MSFT
  2024-01-03 00:00:00-05:00  58414500        0.0           0.0   AAPL
  2024-01-03 00:00:00-05:00  23083500        0.0           0.0   MSFT
  2024-01-04 00:00:00-05:00  71983600        0.0           0.0   AAPL
  ...                             ...        ...           ...    ...
  2024-12-26 00:00:00-05:00  27237100        0.0           0.0   AAPL
  2024-12-27 00:00:00-05:00  18117700        0.0           0.0   MSFT
  2024-12-27 00:00:00-05:00  42355300        0.0           0.0   AAPL
  2024-12-30 00:00:00-05:00  35557500        0.0           0.0   AAPL
  2024-12-30 00:00:00-05:00  13158700        0.0           0.0   MSFT

  [502 rows x 8 columns],
  'dividends': {'AAPL': Date
   1987-05-11 00:00:00-04:00    0.000536
   1987-08-10 00:00:00-04:00    0.000536
   1987-11-17 00:00:00-05:00    0.000714
   1988-02-12 00:00:00-05:00    0.000714
   1988-05-16 00:00:00-04:00    0.000714
                                  ...
   2024-05-10 00:00:00-04:00    0.250000
   2024-08-12 00:00:00-04:00    0.250000
   2024-11-08 00:00:00-05:00    0.250000
   2025-02-10 00:00:00-05:00    0.250000
   2025-05-12 00:00:00-04:00    0.260000
   Name: Dividends, Length: 87, dtype: float64,
   'MSFT': Date
   2003-02-19 00:00:00-05:00    0.08
   2003-10-15 00:00:00-04:00    0.16
   2004-08-23 00:00:00-04:00    0.08
   2004-11-15 00:00:00-05:00    3.08
   2005-02-15 00:00:00-05:00    0.08
                                ...
   2024-05-15 00:00:00-04:00    0.75
   2024-08-15 00:00:00-04:00    0.75
   2024-11-21 00:00:00-05:00    0.83
   2025-02-20 00:00:00-05:00    0.83
   2025-05-15 00:00:00-04:00    0.83
   Name: Dividends, Length: 86, dtype: float64},
  'splits': {'AAPL': Date
   1987-06-16 00:00:00-04:00    2.0
   2000-06-21 00:00:00-04:00    2.0
   2005-02-28 00:00:00-05:00    2.0
   2014-06-09 00:00:00-04:00    7.0
   2020-08-31 00:00:00-04:00    4.0
   Name: Stock Splits, dtype: float64,
   'MSFT': Date
   1987-09-21 00:00:00-04:00    2.0
   1990-04-16 00:00:00-04:00    2.0
   1991-06-27 00:00:00-04:00    1.5
   1992-06-15 00:00:00-04:00    1.5
   1994-05-23 00:00:00-04:00    2.0
   1996-12-09 00:00:00-05:00    2.0
   1998-02-23 00:00:00-05:00    2.0
   1999-03-29 00:00:00-05:00    2.0
   2003-02-18 00:00:00-05:00    2.0
   Name: Stock Splits, dtype: float64}},
 {'basic_info': {'AAPL': {'symbol': 'AAPL',
    'longName': 'Apple Inc.',
    'sector': 'Technology',
    'industry': 'Consumer Electronics',
    'currency': 'USD',
    'exchange': 'NMS'},
   'MSFT': {'symbol': 'MSFT',
    'longName': 'Microsoft Corporation',
    'sector': 'Technology',
    'industry': 'Software - Infrastructure',
    'currency': 'USD',
    'exchange': 'NMS'}},
  'additional_data': ['dividends', 'splits'],
  'data_columns': ['Open',
   'High',
   'Low',
   'Close',
   'Volume',
   'Dividends',
   'Stock Splits',
   'Symbol'],
  'symbols_processed': ['AAPL', 'MSFT'],
  'date_range': {'start': '2024-01-02', 'end': '2024-12-30'}})

In [4]:
stock_data[0]['data'].reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
0,2024-01-02 00:00:00-05:00,185.789438,187.070068,182.553143,184.290421,82488700,0.0,0.0,AAPL
1,2024-01-02 00:00:00-05:00,369.663798,371.680909,362.653379,366.707367,25258600,0.0,0.0,MSFT
2,2024-01-03 00:00:00-05:00,182.880727,184.528662,182.096461,182.910507,58414500,0.0,0.0,AAPL
3,2024-01-03 00:00:00-05:00,364.868279,369.070578,364.373891,366.440430,23083500,0.0,0.0,MSFT
4,2024-01-04 00:00:00-05:00,180.825785,181.758954,179.565029,180.587540,71983600,0.0,0.0,AAPL
...,...,...,...,...,...,...,...,...,...
497,2024-12-26 00:00:00-05:00,257.568678,259.474086,257.010028,258.396667,27237100,0.0,0.0,AAPL
498,2024-12-27 00:00:00-05:00,432.935523,433.553144,424.717120,428.881104,18117700,0.0,0.0,MSFT
499,2024-12-27 00:00:00-05:00,257.209530,258.077462,252.451019,254.974930,42355300,0.0,0.0,AAPL
500,2024-12-30 00:00:00-05:00,251.623005,252.889953,250.146571,251.593079,35557500,0.0,0.0,AAPL
501,2024-12-30 00:00:00-05:00,424.428211,425.912495,420.284140,423.202911,13158700,0.0,0.0,MSFT

# Download as dataframe

In [2]:
from finance_tools.stocks.data_downloaders import YFinanceDownloader  as yf_tool

data_downloader = yf_tool()
stock_data_as_df = data_downloader.download(symbols=["AAPL", "MSFT", "GOOG","QQQ    "], 
                                                      start_date="2024-01-01", 
                                                      end_date="2024-12-31", 
                                                      period="1y", 
                                                      interval="1d",
                                                      include_dividends=True,
                                                      include_splits=True,
                                                      auto_adjust=True).as_df()

stock_data_as_df.head(20)

,Date,Symbol,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
0,2024-01-02,AAPL,185.789422,187.070052,182.553128,184.290405,82488700,0.0,0.0,NaN
1,2024-01-02,MSFT,369.663828,371.680940,362.653409,366.707397,25258600,0.0,0.0,NaN
2,2024-01-02,QQQ,402.389851,402.637726,396.837452,399.167480,58026900,0.0,0.0,0.0
3,2024-01-02,GOOG,138.775108,139.784110,136.926099,138.735336,20071900,0.0,0.0,NaN
4,2024-01-03,QQQ,396.530099,397.591010,394.507463,394.943695,47002800,0.0,0.0,0.0
5,2024-01-03,MSFT,364.868279,369.070578,364.373891,366.440430,23083500,0.0,0.0,NaN
6,2024-01-03,AAPL,182.880742,184.528677,182.096477,182.910522,58414500,0.0,0.0,NaN
7,2024-01-03,GOOG,137.781014,140.256291,137.612006,139.530609,18974300,0.0,0.0,NaN
8,2024-01-04,MSFT,366.509611,368.912329,363.048895,363.810242,20901500,0.0,0.0,NaN
9,2024-01-04,QQQ,393.069746,396.192961,392.692971,392.911102,39432800,0.0,0.0,0.0
10,2024-01-04,AAPL,180.825785,181.758954,179.565029,180.587540,71983600,0.0,0.0,NaN
11,2024-01-04,GOOG,139.023637,139.803987,137.194498,137.224319,18253300,0.0,0.0,NaN
12,2024-01-05,MSFT,364.828745,367.884059,362.386466,363.622437,21004600,0.0,0.0,NaN
13,2024-01-05,QQQ,393.079668,396.163215,391.979089,393.377106,44922800,0.0,0.0,0.0
14,2024-01-05,AAPL,180.666948,181.431339,178.860172,179.862823,62379700,0.0,0.0,NaN
15,2024-01-05,GOOG,137.534477,137.989763,136.041353,136.578156,15439500,0.0,0.0,NaN
16,2024-01-08,MSFT,365.155010,370.988813,364.868286,370.484528,23134000,0.0,0.0,NaN
17,2024-01-08,QQQ,394.606533,401.794898,394.457814,401.507385,42473800,0.0,0.0,0.0
18,2024-01-08,GOOG,137.184566,139.808966,137.065280,139.699615,17645300,0.0,0.0,NaN
19,2024-01-08,AAPL,180.766224,184.250716,180.180517,184.210999,59144500,0.0,0.0,NaN

In [3]:
from finance_tools.stocks.data_downloaders import YFinanceDownloader  as yf_tool

data_downloader = yf_tool()
stock_data = data_downloader._download_single_stock(symbol="AAPL", 
                                                      start_date="2024-01-01", 
                                                      end_date="2024-12-31", 
                                                      period="1y", 
                                                      interval="1d",
                                                      include_dividends=True,
                                                      include_splits=True,
                                                      auto_adjust=True)
stock_data

({'data':            Date Symbol        Open        High         Low       Close  \
  0    2024-01-02   AAPL  185.789422  187.070052  182.553128  184.290405
  1    2024-01-03   AAPL  182.880742  184.528677  182.096477  182.910522
  2    2024-01-04   AAPL  180.825785  181.758954  179.565029  180.587540
  3    2024-01-05   AAPL  180.666948  181.431339  178.860172  179.862823
  4    2024-01-08   AAPL  180.766224  184.250716  180.180517  184.210999
  ..          ...    ...         ...         ...         ...         ...
  246  2024-12-23   AAPL  254.156919  255.034791  252.840088  254.655716
  247  2024-12-24   AAPL  254.875189  257.588630  254.675658  257.578674
  248  2024-12-26   AAPL  257.568678  259.474086  257.010028  258.396667
  249  2024-12-27   AAPL  257.209530  258.077462  252.451019  254.974930
  250  2024-12-30   AAPL  251.623020  252.889969  250.146586  251.593094

         Volume  Dividends  Stock Splits
  0    82488700        0.0           0.0
  1    58414500        0.0           0.0
  2    71983600        0.0           0.0
  3    62379700        0.0           0.0
  4    59144500        0.0           0.0
  ..        ...        ...           ...
  246  40858800        0.0           0.0
  247  23234700        0.0           0.0
  248  27237100        0.0           0.0
  249  42355300        0.0           0.0
  250  35557500        0.0           0.0

  [251 rows x 9 columns],
  'dividends': Date
  1987-05-11 00:00:00-04:00    0.000536
  1987-08-10 00:00:00-04:00    0.000536
  1987-11-17 00:00:00-05:00    0.000714
  1988-02-12 00:00:00-05:00    0.000714
  1988-05-16 00:00:00-04:00    0.000714
                                 ...
  2024-05-10 00:00:00-04:00    0.250000
  2024-08-12 00:00:00-04:00    0.250000
  2024-11-08 00:00:00-05:00    0.250000
  2025-02-10 00:00:00-05:00    0.250000
  2025-05-12 00:00:00-04:00    0.260000
  Name: Dividends, Length: 87, dtype: float64,
  'splits': Date
  1987-06-16 00:00:00-04:00    2.0
  2000-06-21 00:00:00-04:00    2.0
  2005-02-28 00:00:00-05:00    2.0
  2014-06-09 00:00:00-04:00    7.0
  2020-08-31 00:00:00-04:00    4.0
  Name: Stock Splits, dtype: float64},
 {'basic_info': {'symbol': 'AAPL',
   'longName': 'Apple Inc.',
   'sector': 'Technology',
   'industry': 'Consumer Electronics',
   'currency': 'USD',
   'exchange': 'NMS'},
  'additional_data': ['dividends', 'splits'],
  'data_columns': ['Date',
   'Symbol',
   'Open',
   'High',
   'Low',
   'Close',
   'Volume',
   'Dividends',
   'Stock Splits'],
  'date_range': {'start': None, 'end': None}})

In [4]:
stock_data[0]['data']

,Date,Symbol,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-01-02,AAPL,185.789422,187.070052,182.553128,184.290405,82488700,0.0,0.0
1,2024-01-03,AAPL,182.880742,184.528677,182.096477,182.910522,58414500,0.0,0.0
2,2024-01-04,AAPL,180.825785,181.758954,179.565029,180.587540,71983600,0.0,0.0
3,2024-01-05,AAPL,180.666948,181.431339,178.860172,179.862823,62379700,0.0,0.0
4,2024-01-08,AAPL,180.766224,184.250716,180.180517,184.210999,59144500,0.0,0.0
...,...,...,...,...,...,...,...,...,...
246,2024-12-23,AAPL,254.156919,255.034791,252.840088,254.655716,40858800,0.0,0.0
247,2024-12-24,AAPL,254.875189,257.588630,254.675658,257.578674,23234700,0.0,0.0
248,2024-12-26,AAPL,257.568678,259.474086,257.010028,258.396667,27237100,0.0,0.0
249,2024-12-27,AAPL,257.209530,258.077462,252.451019,254.974930,42355300,0.0,0.0
250,2024-12-30,AAPL,251.623020,252.889969,250.146586,251.593094,35557500,0.0,0.0

In [9]:
from finance_tools.stocks.data_downloaders import YFinanceDownloader  as yf_tool

data_downloader = yf_tool() 
print("1. Single Stock Download:")
result = data_downloader.download(symbols=["AAPL"], period="1mo")
result.data

1. Single Stock Download:

{'data':           Date Symbol        Open        High         Low       Close  \
 0   2025-07-02   AAPL  208.910004  213.339996  208.139999  212.440002
 1   2025-07-03   AAPL  212.149994  214.649994  211.809998  213.550003
 2   2025-07-07   AAPL  212.679993  216.229996  208.800003  209.949997
 3   2025-07-08   AAPL  210.100006  211.429993  208.449997  210.009995
 4   2025-07-09   AAPL  209.529999  211.330002  207.220001  211.139999
 5   2025-07-10   AAPL  210.509995  213.479996  210.029999  212.410004
 6   2025-07-11   AAPL  210.570007  212.130005  209.860001  211.160004
 7   2025-07-14   AAPL  209.929993  210.910004  207.539993  208.619995
 8   2025-07-15   AAPL  209.220001  211.889999  208.919998  209.110001
 9   2025-07-16   AAPL  210.300003  212.399994  208.639999  210.160004
 10  2025-07-17   AAPL  210.570007  211.800003  209.589996  210.020004
 11  2025-07-18   AAPL  210.869995  211.789993  209.699997  211.179993
 12  2025-07-21   AAPL  212.100006  215.779999  211.630005  212.479996
 13  2025-07-22   AAPL  213.139999  214.949997  212.229996  214.399994
 14  2025-07-23   AAPL  215.000000  215.149994  212.410004  214.149994
 15  2025-07-24   AAPL  213.899994  215.690002  213.529999  213.759995
 16  2025-07-25   AAPL  214.699997  215.240005  213.399994  213.880005
 17  2025-07-28   AAPL  214.029999  214.850006  213.059998  214.050003
 18  2025-07-29   AAPL  214.179993  214.809998  210.820007  211.270004
 19  2025-07-30   AAPL  211.899994  212.389999  207.720001  209.050003
 20  2025-07-31   AAPL  208.490005  209.839996  207.160004  207.570007
 21  2025-08-01   AAPL  210.869995  213.580002  201.500000  202.380005

        Volume  Dividends  Stock Splits
 0    67941800        0.0           0.0
 1    34955800        0.0           0.0
 2    50229000        0.0           0.0
 3    42848900        0.0           0.0
 4    48749400        0.0           0.0
 5    44443600        0.0           0.0
 6    39765800        0.0           0.0
 7    38840100        0.0           0.0
 8    42296300        0.0           0.0
 9    47490500        0.0           0.0
 10   48068100        0.0           0.0
 11   48974600        0.0           0.0
 12   51377400        0.0           0.0
 13   46404100        0.0           0.0
 14   46989300        0.0           0.0
 15   46022600        0.0           0.0
 16   40268800        0.0           0.0
 17   37858000        0.0           0.0
 18   51411700        0.0           0.0
 19   45512500        0.0           0.0
 20   80698400        0.0           0.0
 21  104301700        0.0           0.0  }